In [1]:
import pandas as pd
import sqlite3

In [2]:
# connect to backend/databease.db
conn = sqlite3.connect('../database.db')
c = conn.cursor()

In [5]:
# baca excel .venv/db_peg.xlsx
df_peg = pd.read_excel('../../.venv/db_peg.xlsx', sheet_name='nama')
df_peg.columns

Index(['id', 'nama', 'nip', 'email', 'tmplahir', 'tgllahir', 'profillink',
       'fotolink', 'angkatan', 'jnsjab', 'jab', 'unker', 'subunker',
       'titeldepan', 'titelbelakang', 'statpeg', 'aktifpeg', 'jnskel',
       'ponsel', 'latdik', 'tmtbali', 'ttl', 'teamslink', 'walink',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32'],
      dtype='object')

In [11]:
df_peg = df_peg.dropna(subset=['id']).reset_index(drop=True)

In [8]:
# membuat tabel pegawai jika belum ada di database.db dengan kolom id, nama, email, fotolink, jnsjab, jab, unker, subunker, statpeg, aktifpeg dan PRIMARY KEY nya id
c.execute('''CREATE TABLE IF NOT EXISTS pegawai
             (id TEXT PRIMARY KEY,
              nama TEXT,
              email TEXT,
              fotolink TEXT,
              jnsjab TEXT,
              jab TEXT,
              unker TEXT,
              subunker TEXT,
              statpeg TEXT,
              aktifpeg TEXT)''')

In [13]:
# tambahkan data pegawai ke tabel pegawai di database.db
for index, row in df_peg.iterrows():
    c.execute("INSERT OR REPLACE INTO pegawai (id, nama, email, fotolink, jnsjab, jab, unker, subunker, statpeg, aktifpeg) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
              (row['id'], row['nama'], row['email'], row['fotolink'], row['jnsjab'], row['jab'], row['unker'], row['subunker'], row['statpeg'], row['aktifpeg']))
conn.commit()

In [15]:
df_st = pd.read_excel('../../.venv/db_rik.xlsx', sheet_name='st')
df_penugasan = pd.read_excel('../../.venv/db_rik.xlsx', sheet_name='tugas')

In [16]:
[df_st.columns,
df_penugasan.columns]

[Index(['id', 'thn', 'entabr', 'tglst', 'awalst', 'akhirst', 'stlink',
        'perihalst', 'jnsrik', 'tahaprik'],
       dtype='object'),
 Index(['id', 'idst', 'nama', 'peranabr', 'urutanst'], dtype='object')]

In [21]:
c.execute('''CREATE TABLE IF NOT EXISTS st
             (id TEXT PRIMARY KEY,
              thn INTEGER,
              entabr TEXT,
              tglst TEXT,
              awalst TEXT,
              akhirst TEXT,
              stlink TEXT,
              perihalst TEXT,
              jnsrik TEXT,
              tahaprik TEXT)''')

for index, row in df_st.iterrows():
    tglst = row['tglst'].strftime('%Y-%m-%d') if pd.notnull(row['tglst']) else None
    awalst = row['awalst'].strftime('%Y-%m-%d') if pd.notnull(row['awalst']) else None
    akhirst = row['akhirst'].strftime('%Y-%m-%d') if pd.notnull(row['akhirst']) else None
    c.execute(
        "INSERT OR REPLACE INTO st (id, thn, entabr, tglst, awalst, akhirst, stlink, perihalst, jnsrik, tahaprik) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
        (row['id'], row['thn'], row['entabr'], tglst, awalst, akhirst, row['stlink'], row['perihalst'], row['jnsrik'], row['tahaprik'])
    )
conn.commit()

In [22]:
# create tabel penugasan if not exist with colums 'id', 'idst', 'nama', 'peranabr', 'urutanst'
c.execute('''CREATE TABLE IF NOT EXISTS penugasan
             (id TEXT PRIMARY KEY,
              idst TEXT,
              nama TEXT,
              peranabr TEXT,
              urutanst INTEGER)''')

for index, row in df_penugasan.iterrows():
    c.execute(
        "INSERT OR REPLACE INTO penugasan (id, idst, nama, peranabr, urutanst) VALUES (?, ?, ?, ?, ?)",
        (row['id'], row['idst'], row['nama'], row['peranabr'], row['urutanst'])
    )   
conn.commit()