In [1]:
import pandas as pd
import sqlite3

In [2]:
# connect to backend/databease.db
conn = sqlite3.connect('../database.db')
c = conn.cursor()

In [27]:
# baca excel .venv/db_peg.xlsx
df_user = pd.read_excel('../db_peg.xlsx', sheet_name='users', dtype=str)
df_user.columns

Index(['id', 'username', 'password', 'role', 'nama', 'nip', 'email',
       'fotolink', 'grup'],
      dtype='object')

In [28]:
df_user.head()

,id,username,password,role,nama,nip,email,fotolink,grup
0,240002315,ib.wisnu@bpk.go.id,ib.wisnu@bpk.go.id,Fungsional Pemeriksa,Ida Bagus Ketut Wisnu,196711291994031002,ib.wisnu@bpk.go.id,https://sisdm.bpk.go.id/photo/240002315/md.jpg,Bidang Pemeriksaan Bali I
1,240002924,ida.sudiartha@bpk.go.id,ida.sudiartha@bpk.go.id,Fungsional Pemeriksa,Ida Bagus Made Sudiartha,196709281998031001,ida.sudiartha@bpk.go.id,https://sisdm.bpk.go.id/photo/240002924/md.jpg,Bidang Pemeriksaan Bali I
2,240002921,luh.parwati@bpk.go.id,luh.parwati@bpk.go.id,Fungsional Pemeriksa,Luh Made Putri Parwati,197503121998032001,luh.parwati@bpk.go.id,https://sisdm.bpk.go.id/photo/240002921/md.jpg,Bidang Pemeriksaan Bali I
3,240003436,iik.jayani@bpk.go.id,iik.jayani@bpk.go.id,Fungsional Pemeriksa,Desak Made Iik Jayani,197309052000032002,iik.jayani@bpk.go.id,https://sisdm.bpk.go.id/photo/240003436/md.jpg,Bidang Pemeriksaan Bali I
4,240002684,astiti.dewi@bpk.go.id,astiti.dewi@bpk.go.id,Fungsional Pemeriksa,Anak Agung Astiti Dewi,197110181997032001,astiti.dewi@bpk.go.id,https://sisdm.bpk.go.id/photo/240002684/md.jpg,Bidang Pemeriksaan Bali I

In [ ]:
# membuat tabel users di database.db dengan kolom ['id', 'username', 'password', 'role', 'nama', 
# 'nip', 'email','fotolink', 'grup']

c.execute('''CREATE TABLE IF NOT EXISTS users
             (id TEXT PRIMARY KEY,
              username TEXT,
              password TEXT,
              role TEXT,
              nama TEXT,
              nip TEXT,
              email TEXT,
              fotolink TEXT,
              grup TEXT)''')
conn.commit()

In [ ]:
# menambahkan data dari df_user ke tabel users dengan password di hash dengan sha256
import hashlib
for index, row in df_user.iterrows():
    password_hashed = hashlib.sha256(row['password'].encode()).hexdigest()
    c.execute('''INSERT INTO users (id, username, password, role, nama, nip, email, fotolink, grup)
                 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)''',
              (row['id'], row['username'], password_hashed, row['role'], row['nama'], row['nip'], row['email'], row['fotolink'], row['grup']))
conn.commit()

In [18]:
# membaca tabel tugas yang harus dinilai
df_tugas = pd.read_excel('../db_rik.xlsx', sheet_name='dinilai', dtype=str)
df_personil = pd.read_excel('../db_rik.xlsx', sheet_name='tugas')

In [20]:
df_tugas_c = df_tugas[['id', 'thn', 'entabr', 'perihalst']].copy()
df_tugas_c

,id,thn,entabr,perihalst
0,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...
1,78/ST/XIX.DPS/03/2024,2024,Gianyar,Pemeriksaan atas Laporan Keuangan Pemerintah K...
2,76/ST/XIX.DPS/03/2024,2024,Klungkung,Pemeriksaan atas Laporan Keuangan Pemerintah K...
3,70/ST/XIX.DPS/03/2024,2024,Bali,Pemeriksaan atas Laporan Keuangan Pemerintah P...
4,79/ST/XIX.DPS/03/2024,2024,Bangli,Pemeriksaan atas Laporan Keuangan Pemerintah K...
5,75/ST/XIX.DPS/03/2024,2024,Denpasar,Pemeriksaan atas Laporan Keuangan Pemerintah K...
6,73/ST/XIX.DPS/03/2024,2024,Jembrana,Pemeriksaan atas Laporan Keuangan Pemerintah K...
7,77/ST/XIX.DPS/03/2024,2024,Karangasem,Pemeriksaan atas Laporan Keuangan Pemerintah K...
8,71/ST/XIX.DPS/03/2024,2024,Badung,Pemeriksaan atas Laporan Keuangan Pemerintah K...
9,72/ST/XIX.DPS/03/2024,2024,Buleleng,Pemeriksaan atas Laporan Keuangan Pemerintah K...
10,244/ST/XIX.DPS/09/2024,2024,Bali,Pemeriksaan Kepatuhan atas Pengelolaan Keuanga...
11,306/ST/XIX.DPS/10/2024,2024,Bali,Pemeriksaan Kinerja atas Pengelolaan Anggaran ...
12,307/ST/XIX.DPS/10/2024,2024,Badung,Pemeriksaan Kinerja atas Pengelolaan Anggaran ...
13,313/ST/XIX.DPS/10/2024,2024,Jembrana,Pemeriksaan Kinerja atas Pelayanan Kesehatan D...
14,316/ST/XIX.DPS/11/2024,2024,Badung,Pemeriksaan Kinerja atas Pengelolaan Sampah Da...
15,272/ST/XIX.DPS/10/2024,2024,Buleleng,Pemeriksaan Terinci Dengan Tujuan Tertentu ata...
16,273/ST/XIX.DPS/10/2024,2024,Denpasar,Pemeriksaan Terinci Dengan Tujuan Tertentu ata...
17,271/ST/XIX.DPS/10/2024,2024,Klungkung,Pemeriksaan Terinci Dengan Tujuan Tertentu ata...
18,308/ST/XIX.DPS/10/2024,2024,Gianyar,Pemeriksaan Kinerja atas Pengelolaan Anggaran ...
19,315/ST/XIX.DPS/10/2024,2024,Karangasem,Pemeriksaan Kinerja atas Pelayanan Kesehatan D...
20,314/ST/XIX.DPS/10/2024,2024,Bangli,Pemeriksaan Kinerja atas Pelayanan Kesehatan D...
21,83/ST/XIX.DPS/03/2025,2025,Bali,Pemeriksaan Terinci atas Laporan Keuangan Peme...
22,84/ST/XIX.DPS/03/2025,2025,Badung,Pemeriksaan Terinci atas Laporan Keuangan Peme...
23,85/ST/XIX.DPS/03/2025,2025,Bangli,Pemeriksaan Terinci atas Laporan Keuangan Peme...
24,86/ST/XIX.DPS/03/2025,2025,Buleleng,Pemeriksaan Terinci atas Laporan Keuangan Peme...
25,87/ST/XIX.DPS/03/2025,2025,Denpasar,Pemeriksaan Terinci atas Laporan Keuangan Peme...
26,88/ST/XIX.DPS/03/2025,2025,Gianyar,Pemeriksaan Terinci atas Laporan Keuangan Peme...
27,89/ST/XIX.DPS/03/2025,2025,Jembrana,Pemeriksaan Terinci atas Laporan Keuangan Peme...
28,90/ST/XIX.DPS/03/2025,2025,Karangasem,Pemeriksaan Terinci atas Laporan Keuangan Peme...
29,91/ST/XIX.DPS/03/2025,2025,Klungkung,Pemeriksaan Terinci atas Laporan Keuangan Peme...
30,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...

In [21]:
df_personil

,id,idst,nama,peranabr,urutanst
0,1,21/ST/XIX.DPS/02/2009,Imam Muslich,PT,1
1,2,21/ST/XIX.DPS/02/2009,P. K. Wendriani,KT,2
2,3,21/ST/XIX.DPS/02/2009,I Gusti Ayu Lusidiantari Dewi,AT,3
3,4,21/ST/XIX.DPS/02/2009,Imran Rahmansyah Zulfikar,AT,4
4,5,21/ST/XIX.DPS/02/2009,Ardhinur Bestari,AT,5
...,...,...,...,...,...
5763,5764,242/B/ST/DJPKN-VI.DPS/PPD.02/08/2025,Riki Aska Pranata,KT,5
5764,5765,242/B/ST/DJPKN-VI.DPS/PPD.02/08/2025,Clarisa Inda Oktaviana,AT,6
5765,5766,242/B/ST/DJPKN-VI.DPS/PPD.02/08/2025,Maretha Pafrika Hutajulu,AT,7
5766,5767,242/B/ST/DJPKN-VI.DPS/PPD.02/08/2025,Gemi Salvianto,AT,8
5767,5768,242/B/ST/DJPKN-VI.DPS/PPD.02/08/2025,Cahyo Sadewo Hutomo,AT,9

In [30]:
df_penugasan = pd.merge(df_tugas_c, df_personil, left_on='id', right_on='idst', how='left')
df_penugasan = df_penugasan[['idst', 'id_y', 'thn', 'entabr', 'perihalst', 'nama', 'peranabr', 'urutanst']]
df_penugasan.columns = ['id_tugas', 'id_penugasan', 'tahun', 'entabr', 'perihalst', 'nama', 'peran', 'urutanst']
df_penugasan

,id_tugas,id_penugasan,tahun,entabr,perihalst,nama,peran,urutanst
0,74/ST/XIX.DPS/03/2024,4931,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,I Gusti Ngurah Satria Perwira,PJ,1
1,74/ST/XIX.DPS/03/2024,4932,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,Ikhsan Aprian,WPJ,2
2,74/ST/XIX.DPS/03/2024,4933,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,Desak Made Iik Jayani,PT,3
3,74/ST/XIX.DPS/03/2024,4934,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,Ni Luh Kade Astini,KT,4
4,74/ST/XIX.DPS/03/2024,4935,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,Dyah Puspitasari,AT,5
...,...,...,...,...,...,...,...,...
350,92/ST/XIX.DPS/03/2025,5557,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,Ni Putu Mirah Astuti,AT,6
351,92/ST/XIX.DPS/03/2025,5558,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,Nadya Avicena,AT,7
352,92/ST/XIX.DPS/03/2025,5559,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,Hanindya Faqih Pratama,AT,8
353,92/ST/XIX.DPS/03/2025,5560,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,I Gede Andika Satria Wibawa,AT,9
354,92/ST/XIX.DPS/03/2025,5561,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,Azhar,AT,10

In [33]:
df_user_id = df_user[['id', 'nama']].copy()
df_user_id

df_penugasan_user = pd.merge(df_penugasan, df_user_id, left_on='nama', right_on='nama', how='left')
df_penugasan_user.dropna(subset=['id'], inplace=True)
df_penugasan_user = df_penugasan_user[['id_penugasan', 'id_tugas', 'tahun', 'entabr', 'perihalst','id', 'nama', 'peran', 'urutanst']]
df_penugasan_user

,id_penugasan,id_tugas,tahun,entabr,perihalst,id,nama,peran,urutanst
0,4931,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,240003444,I Gusti Ngurah Satria Perwira,PJ,1
1,4932,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,240007937,Ikhsan Aprian,WPJ,2
2,4933,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,240003436,Desak Made Iik Jayani,PT,3
3,4934,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,240002703,Ni Luh Kade Astini,KT,4
5,4936,74/ST/XIX.DPS/03/2024,2024,Tabanan,Pemeriksaan atas Laporan Keuangan Pemerintah K...,240009028,Komang Yogi Wirasatya,AT,6
...,...,...,...,...,...,...,...,...,...
350,5557,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,240011458,Ni Putu Mirah Astuti,AT,6
351,5558,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,240011180,Nadya Avicena,AT,7
352,5559,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,240011185,Hanindya Faqih Pratama,AT,8
353,5560,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,240011175,I Gede Andika Satria Wibawa,AT,9
354,5561,92/ST/XIX.DPS/03/2025,2025,Tabanan,Pemeriksaan Terinci atas Laporan Keuangan Peme...,390062883,Azhar,AT,10

In [34]:
# buat tabel penugasan di database.db dengan kolom ['id_penugasan', 'id_tugas', 'tahun', 'entabr', 'perihalst',
# 'id_user', 'nama', 'peran', 'urutanst']
c.execute('''CREATE TABLE IF NOT EXISTS penugasan
                (id_penugasan TEXT PRIMARY KEY,
                id_tugas TEXT,
                tahun TEXT,
                entabr TEXT,
                perihalst TEXT,
                id_user TEXT,
                nama TEXT,
                peran TEXT,
                urutanst TEXT)''')
conn.commit()
# menambahkan data dari df_penugasan_user ke tabel penugasan
for index, row in df_penugasan_user.iterrows():
    c.execute('''INSERT INTO penugasan (id_penugasan, id_tugas, tahun, entabr, perihalst, id_user, nama, peran, urutanst)
                 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)''',
              (row['id_penugasan'], row['id_tugas'], row['tahun'], row['entabr'], row['perihalst'], row['id'], row['nama'], row['peran'], row['urutanst']))
conn.commit()

In [36]:
# membuat tabel untuk menampung hasil penilaian
c.execute('''CREATE TABLE IF NOT EXISTS penilaian
            (id_penilaian INT PRIMARY KEY,
            id_tugas TEXT,
            penilai TEXT,
            dinilai TEXT,
            rik_renc INT,
            rik_laks INT,
            rik_lap INT,
            pelayanan INT,
            akuntabel INT,
            kompeten INT,
            harmoni INT,
            loyal INT,
            adaptif INT,
            kolaboratif INT,
            kualitatif TEXT
          )
          ''')
conn.commit()

In [37]:
df_penugasan_user.to_excel('penugasan_user.xlsx', index=False)

In [38]:
tugas = pd.read_excel('penugasan_user.xlsx', sheet_name='form')
tugas

,id_penilaian,id_tugas,penilai,dinilai
0,1,244/ST/XIX.DPS/09/2024,I Gusti Agung Gede Parwata,I Gusti Agung Gede Parwata
1,2,244/ST/XIX.DPS/09/2024,I Gusti Agung Gede Parwata,Dwi Padma Yoni
2,3,244/ST/XIX.DPS/09/2024,I Gusti Agung Gede Parwata,Ni Putu Rullyana
3,4,244/ST/XIX.DPS/09/2024,I Gusti Agung Gede Parwata,I Gede Agus Angga Priastana
4,5,244/ST/XIX.DPS/09/2024,Dwi Padma Yoni,I Gusti Agung Gede Parwata
...,...,...,...,...
2119,2120,92/ST/XIX.DPS/03/2025,Azhar,Ni Putu Mirah Astuti
2120,2121,92/ST/XIX.DPS/03/2025,Azhar,Nadya Avicena
2121,2122,92/ST/XIX.DPS/03/2025,Azhar,Hanindya Faqih Pratama
2122,2123,92/ST/XIX.DPS/03/2025,Azhar,I Gede Andika Satria Wibawa
2123,2124,92/ST/XIX.DPS/03/2025,Azhar,Azhar

In [ ]:
# masukkan data tugas ke tabel penilaian
for index, row in tugas.iterrows():
    c.execute('''INSERT INTO penilaian (id_penilaian, id_tugas, penilai, dinilai, rik_renc, rik_laks, rik_lap, pelayanan, akuntabel, kompeten, harmoni, loyal, adaptif, kolaboratif, kualitatif)
                 VALUES (?,?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''',
              (row['id_penilaian'], row['id_tugas'], row['penilai'], row['dinilai'], 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', ''))
conn.commit()