In [1]:
import pandas as pd
import duckdb as ddb

In [2]:
st = pd.read_excel('db_rik.xlsx', sheet_name='st')
tugas = pd.read_excel('db_rik.xlsx', sheet_name='tugas')
personil = pd.read_excel('db_sdm.xlsx', sheet_name='nama')

In [3]:
st.sort_values(by=['tglst', 'id'], inplace=True)
# st.sort_values(by='id', inplace=True)
st.insert(0, 'id_st', st.index + 1)
st.head()

,id_st,id,thn,entabr,tglst,awalst,akhirst,stlink,perihalst,jnsrik,tahaprik
0,1,32/ST/XIX.DPS/03/2008,2008,Jembrana,2008-03-19,2008-03-19,2008-04-23,https://smp.bpk.go.id/Perencanaan/SuratTugas/D...,Pemeriksaan atas Laporan Keuangan Pemerintah K...,Keuangan,Terinci
1,2,41/ST/XIX.DPS/04/2008,2008,Badung,2008-04-01,2008-04-01,2008-05-06,https://smp.bpk.go.id/Perencanaan/SuratTugas/D...,Pemeriksaan atas LAporan Keuangan Pemerintah D...,Keuangan,Terinci
2,3,46/ST/XIX.DPS/04/2008,2008,Tabanan,2008-04-04,2008-04-04,2008-05-09,https://smp.bpk.go.id/Perencanaan/SuratTugas/D...,Pemeriksaan atas Laporan Keuangan Pemerintah D...,Keuangan,Terinci
4,5,49/ST/XIX.DPS/04/2008,2008,Bali,2008-04-08,2008-04-08,2008-05-18,https://smp.bpk.go.id/Perencanaan/SuratTugas/D...,Pemeriksaan LKPD TA. 2007 Provinsi Bali,Keuangan,Terinci
3,4,51/ST/XIX.DPS/04/2008,2008,Klungkung,2008-04-08,2008-04-08,2008-05-13,https://smp.bpk.go.id/Perencanaan/SuratTugas/D...,Pemeriksaan atas Laporan Keuangan Pemerintah D...,Keuangan,Terinci

In [4]:
st_pilih = ddb.query("""
SELECT id_st
        , id AS no_st
        , thn
        , entabr
        , tglst
        , perihalst
FROM st
WHERE thn = 2025 AND tahaprik = 'Terinci' AND jnsrik <> 'DTT Banparpol'
""").to_df()

st_pilih.head()

,id_st,no_st,thn,entabr,tglst,perihalst
0,763,83/ST/XIX.DPS/03/2025,2025,Bali,2025-03-27,Pemeriksaan Terinci atas Laporan Keuangan Peme...
1,764,84/ST/XIX.DPS/03/2025,2025,Badung,2025-03-27,Pemeriksaan Terinci atas Laporan Keuangan Peme...
2,765,85/ST/XIX.DPS/03/2025,2025,Bangli,2025-03-27,Pemeriksaan Terinci atas Laporan Keuangan Peme...
3,766,86/ST/XIX.DPS/03/2025,2025,Buleleng,2025-03-27,Pemeriksaan Terinci atas Laporan Keuangan Peme...
4,767,87/ST/XIX.DPS/03/2025,2025,Denpasar,2025-03-27,Pemeriksaan Terinci atas Laporan Keuangan Peme...

In [5]:
personil.head()

,id,nama,nip,email,tmplahir,tgllahir,profillink,fotolink,angkatan,jnsjab,...,titelbelakang,statpeg,aktifpeg,jnskel,ponsel,latdik,tmtbali,ttl,teamslink,walink
0,240003444,I Gusti Ngurah Satria Perwira,1.975052e+17,igusti.perwira@bpk.go.id,Denpasar,1975-05-21 00:00:00,https://smp.bpk.go.id/Perencanaan/ProfilPemeri...,https://sisdm.bpk.go.id/photo/240003444/md.jpg,2000.0,Struktural,...,"S.E., M.M., Ak, CA, CSFA, GRCP, GRCA, ERMAP, CFrA",PNS,Aktif,Laki-laki,6.281238e+11,Akuntansi,2017-02-06,"Denpasar, 21 May 1975",https://teams.microsoft.com/l/chat/0/0?users=i...,https://wa.me/628123805696
1,240003132,Nur Pramono,1.976093e+17,npramono@bpk.go.id,Jakarta,1976-09-28 00:00:00,https://smp.bpk.go.id/Perencanaan/ProfilPemeri...,https://sisdm.bpk.go.id/photo/240003132/md.jpg,1999.0,NaN,...,NaN,PNS,Nonaktif,Laki-laki,6.287809e+12,Teknik Informatika,2019-11-25,"Jakarta, 28 Sep 1976",https://teams.microsoft.com/l/chat/0/0?users=n...,https://wa.me/6287809466333
2,240005136,Al Kausar,1.984033e+17,al.kausar@bpk.go.id,Tanjungkarang,1984-03-29 00:00:00,https://smp.bpk.go.id/Perencanaan/ProfilPemeri...,https://sisdm.bpk.go.id/photo/240005136/md.jpg,2007.0,NaN,...,NaN,PNS,Nonaktif,Laki-laki,6.281252e+12,Hukum,2024-03-07,"Tanjungkarang, 29 Mar 1984",https://teams.microsoft.com/l/chat/0/0?users=a...,https://wa.me/6281252215757
3,240007937,Ikhsan Aprian,1.984041e+17,ikhsan.aprian@bpk.go.id,Jakarta,1984-04-07 00:00:00,https://smp.bpk.go.id/Perencanaan/ProfilPemeri...,https://sisdm.bpk.go.id/photo/240007937/md.jpg,2010.0,Struktural,...,"S.T., CertDA, CIISA",PNS,Aktif,Laki-laki,6.281383e+12,Teknik Geologi,2024-01-19,"Jakarta, 7 Apr 1984",https://teams.microsoft.com/l/chat/0/0?users=i...,https://wa.me/6281382669958
4,240002733,Ida Bagus Ketut Sidhastu,1.970102e+17,ib.sidhastu@bpk.go.id,Denpasar,1970-10-22 00:00:00,https://smp.bpk.go.id/Perencanaan/ProfilPemeri...,https://sisdm.bpk.go.id/photo/240002733/md.jpg,1997.0,Struktural,...,"S.E., M.M.",PNS,Aktif,Laki-laki,6.282146e+12,Akuntansi,2022-03-01,"Denpasar, 22 Oct 1970",https://teams.microsoft.com/l/chat/0/0?users=i...,https://wa.me/6282145927454

In [6]:
tugas_pilih = ddb.query(
"""
select s.id_st
, t.idst no_st
, t.nama nama_personil
, p.id id_personil
, t.peranabr
, t.urutanst
from tugas t 
join st_pilih s on t.idst = s.no_st
left join personil p on t.nama = p.nama
where t.peranabr not in ('PJ', 'WPJ')
""").to_df()

tugas_pilih.head()

,id_st,no_st,nama_personil,id_personil,peranabr,urutanst
0,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4
1,763,83/ST/XIX.DPS/03/2025,Ida Bagus Ketut Wisnu,240002315,PT,5
2,763,83/ST/XIX.DPS/03/2025,I Gede Wiprada Pasupati,240005887,PT,6
3,763,83/ST/XIX.DPS/03/2025,Devi Kristyawan,240005520,KT,7
4,763,83/ST/XIX.DPS/03/2025,Ida Bagus Agung Wakya Parahita,240004959,KST,8

In [7]:
# Self-merge to create all possible pairs within the same id_st
paired_data = pd.merge(tugas_pilih, tugas_pilih, on='id_st', suffixes=('_1', '_2'))

paired_data.head()

,id_st,no_st_1,nama_personil_1,id_personil_1,peranabr_1,urutanst_1,no_st_2,nama_personil_2,id_personil_2,peranabr_2,urutanst_2
0,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4
1,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4,83/ST/XIX.DPS/03/2025,Ida Bagus Ketut Wisnu,240002315,PT,5
2,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4,83/ST/XIX.DPS/03/2025,I Gede Wiprada Pasupati,240005887,PT,6
3,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4,83/ST/XIX.DPS/03/2025,Devi Kristyawan,240005520,KT,7
4,763,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4,83/ST/XIX.DPS/03/2025,Ida Bagus Agung Wakya Parahita,240004959,KST,8

In [8]:
# Define the pairing rules
# PT pairs with KT, KST, and itself
rule_pt = (paired_data['peranabr_1'] == 'PT') & \
          (paired_data['peranabr_2'].isin(['KT', 'KST']) | (paired_data['id_personil_1'] == paired_data['id_personil_2']))

# KT pairs with PT, KST, AT, and itself
rule_kt = (paired_data['peranabr_1'] == 'KT') & \
          (paired_data['peranabr_2'].isin(['PT', 'KST', 'AT', 'KT']))

# KST pairs with KT, AT, and itself
rule_kst = (paired_data['peranabr_1'] == 'KST') & \
           (paired_data['peranabr_2'].isin(['PT', 'KT', 'AT']) | (paired_data['id_personil_1'] == paired_data['id_personil_2']))

# AT pairs with KT, KST, AT, and itself
rule_at = (paired_data['peranabr_1'] == 'AT') & \
          (paired_data['peranabr_2'].isin(['KT', 'KST', 'AT']))

# Apply the rules to filter the pairs
final_pairs = paired_data[rule_pt | rule_kt | rule_kst | rule_at].copy()

# To avoid duplicate pairs (e.g., A-B and B-A), we keep only one version
# final_pairs = final_pairs[final_pairs['id_personil_1'] <= final_pairs['id_personil_2']]

final_pairs.reset_index(drop=True, inplace=True)
final_pairs.head

<bound method NDFrame.head of       id_st                               no_st_1           nama_personil_1  \
0       763                 83/ST/XIX.DPS/03/2025     Desak Made Iik Jayani
1       763                 83/ST/XIX.DPS/03/2025     Desak Made Iik Jayani
2       763                 83/ST/XIX.DPS/03/2025     Desak Made Iik Jayani
3       763                 83/ST/XIX.DPS/03/2025     Desak Made Iik Jayani
4       763                 83/ST/XIX.DPS/03/2025     Desak Made Iik Jayani
...     ...                                   ...                       ...
1251    800  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025  Maretha Pafrika Hutajulu
1252    800  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025            Gemi Salvianto
1253    800  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025            Gemi Salvianto
1254    800  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025            Gemi Salvianto
1255    800  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025            Gemi Salvianto

     id_personil_1 peranabr_1  urutanst_1  \
0        240003436         PT           4
1        240003436         PT           4
2        240003436         PT           4
3        240003436         PT           4
4        240003436         PT           4
...            ...        ...         ...
1251     240010354         AT           6
1252     240010275         AT           7
1253     240010275         AT           7
1254     240010275         AT           7
1255     240010275         AT           7

                                   no_st_2                 nama_personil_2  \
0                    83/ST/XIX.DPS/03/2025           Desak Made Iik Jayani
1                    83/ST/XIX.DPS/03/2025                 Devi Kristyawan
2                    83/ST/XIX.DPS/03/2025  Ida Bagus Agung Wakya Parahita
3                    83/ST/XIX.DPS/03/2025                  Triana Wahyuni
4                    83/ST/XIX.DPS/03/2025     I Gede Agus Angga Priastana
...                                    ...                             ...
1251  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025                  Gemi Salvianto
1252  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025               Riki Aska Pranata
1253  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025          Clarisa Inda Oktaviana
1254  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025        Maretha Pafrika Hutajulu
1255  341/B/ST/DJPKN-VI.DPS/PPD.02/10/2025                  Gemi Salvianto

     id_personil_2 peranabr_2  urutanst_2
0        240003436         PT           4
1        240005520         KT           7
2        240004959        KST           8
3        240005023        KST           9
4        240007263        KST          10
...            ...        ...         ...
1251     240010275         AT           7
1252     240011197         KT           4
1253     240009846         AT           5
1254     240010354         AT           6
1255     240010275         AT           7

[1256 rows x 11 columns]>

In [10]:
final_pairs[final_pairs['nama_personil_1'].str.contains('Angga')].head()

,id_st,no_st_1,nama_personil_1,id_personil_1,peranabr_1,urutanst_1,no_st_2,nama_personil_2,id_personil_2,peranabr_2,urutanst_2
56,763,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10,83/ST/XIX.DPS/03/2025,Desak Made Iik Jayani,240003436,PT,4
57,763,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10,83/ST/XIX.DPS/03/2025,Ida Bagus Ketut Wisnu,240002315,PT,5
58,763,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10,83/ST/XIX.DPS/03/2025,I Gede Wiprada Pasupati,240005887,PT,6
59,763,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10,83/ST/XIX.DPS/03/2025,Devi Kristyawan,240005520,KT,7
60,763,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10,83/ST/XIX.DPS/03/2025,I Gede Agus Angga Priastana,240007263,KST,10

In [11]:
# Select and rename columns for clarity
final_pairs = final_pairs[[
    'id_st', 'no_st_1', 'id_personil_1', 'nama_personil_1', 'peranabr_1', 
    'id_personil_2', 'nama_personil_2', 'peranabr_2'
]].reset_index(drop=True)

final_pairs.columns = [
    'id_st', 'no_st', 'id_penilai', 'nama_penilai', 'peran_penilai', 
    'id_dinilai', 'nama_dinilai', 'peran_dinilai'
]

# Add a unique ID for each pair
# final_pairs.insert(0, 'id_penilaian', range(1, 1 + len(final_pairs)))


final_pairs.head()

,id_st,no_st,id_penilai,nama_penilai,peran_penilai,id_dinilai,nama_dinilai,peran_dinilai
0,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240003436,Desak Made Iik Jayani,PT
1,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240005520,Devi Kristyawan,KT
2,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240004959,Ida Bagus Agung Wakya Parahita,KST
3,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240005023,Triana Wahyuni,KST
4,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240007263,I Gede Agus Angga Priastana,KST

In [12]:
penilaian = ddb.query(
"""
SELECT id_st
, no_st
, id_penilai
, nama_penilai
, peran_penilai
, id_dinilai
, nama_dinilai
, peran_dinilai 
, cast(1 as double) AS rik_renc
, cast(1 as double) AS rik_laks
, cast(1 as double) AS rik_lap
, cast(1 as double) AS pelayanan
, cast(1 as double) AS akuntabel
, cast(1 as double) AS kompeten
, cast(1 as double) AS harmoni
, cast(1 as double) AS loyal
, cast(1 as double) AS adaptif
, cast(1 as double) AS kolaboratif
, cast('dolor ipsum' as TEXT) AS kualitatif
, cast(0 as INTEGER) AS status
FROM final_pairs
"""
).to_df()

penilaian.head()

,id_st,no_st,id_penilai,nama_penilai,peran_penilai,id_dinilai,nama_dinilai,peran_dinilai,rik_renc,rik_laks,rik_lap,pelayanan,akuntabel,kompeten,harmoni,loyal,adaptif,kolaboratif,kualitatif,status
0,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240003436,Desak Made Iik Jayani,PT,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,dolor ipsum,0
1,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240005520,Devi Kristyawan,KT,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,dolor ipsum,0
2,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240004959,Ida Bagus Agung Wakya Parahita,KST,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,dolor ipsum,0
3,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240005023,Triana Wahyuni,KST,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,dolor ipsum,0
4,763,83/ST/XIX.DPS/03/2025,240003436,Desak Made Iik Jayani,PT,240007263,I Gede Agus Angga Priastana,KST,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,dolor ipsum,0

In [20]:
st_pilih.to_csv('st_pilih.csv', index=False, sep=';')
penilaian.to_csv('penilaian.csv', index=False, sep=';')